.img-banner {
    object-fit: cover;
    width: 100vw;
    height: 500px;
}

.destacado {
    display: flex;
    justify-content: center;
    align-content: center;

    &__1 {
        background-color: black;
        font-size: $titlesPricipales;
        border: 5px solid;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        color: white;
    }
}

.destacado__2 {
    display: map-get($libreria , display);
    justify-content: map-get($libreria, justify);
    align-items: map-get($libreria, align);


    .estanteria {
        display: map-get($libreriaItem, display);
        flex-direction: map-get($libreriaItem, direction);
        justify-content: map-get($libreriaItem, justify);
        align-items: map-get($libreriaItem, align);
        
    }

    .estanteria__img {
        border: 5px solid black;
        width: 235px;
        height: 250px;
        border-radius: 10px;
        object-fit: contain;
        background-color: white;
       

    }

    .estanteria__img:hover {
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.3s ease;
        border: 5px solid $colorPrincipal;
    }

    .button {
        margin: 10px 0;
        padding: 5px;
        background-color: #0d6efd;
        border-radius: 5px;
        color: whitesmoke;
    }
    .button:hover {
        // opacity: 0.8;
        cursor: pointer;
        transition: all 0.3s ease;
       background-color: #0b5ed7 

    }
   
}