.catas {
    padding: 10px;
    line-height: 1.8;
}


.catas__title {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    font-size: $titlesPricipales;
    border: 5px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
}

.catas__consejos {
    margin: 15px;
    padding: 1rem;
    border: 5px solid;
    width: 50%;
    line-height: 1.8;
}

.consejos {
    margin: 15px
}

.consejos-container {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 1.8;
}

.video-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.catas__video {
    margin: 5px 0;
    width: 500px;
    height: auto;
    object-fit: cover;
    height: auto;
}

.row {
    --bs-gutter-x: 0%
}
.img-catas{
    width: 550px;
    height: 350px;
    object-fit: cover; 
}
.img-catas-1{
    margin-left: 55px;
}
.conteiner-catas{
    justify-content: center;
}