.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;

    .form__item {
        margin: 5px;
        padding: 1rem;
        border: 2px solid;
        list-style: none;
    }

    input:focus {
        background-color: $colorPrincipal;
        color: black;
        font-weight: bolder;
    }
}