$colorPrincipal: darkred;
$titlesPricipales: 32px;
$titleSecundario: 16px;
$libreria : (display: flex,
    justify: space-around,
    align: center,
);
$libreriaItem: (
    display: flex,
    direction: column,
    justify: space-around,
    align: center,
);